{% extends "basic.html" %}

{% block title %}Самостоятельная работа №3{% endblock %}

{% block content %}

<div class="wrap">
    <h1>Самостоятельная работа №3</h1>
    <div class="content-table">
        <a href="/laba_1/#p2.1">2.1, Установка заголовка на поле документа</a><br>
        <a href="/laba_1/#p2.2">2.2, Запись отдельных строк текста</a><br>
        <a href="/laba_1/#p2.3">2.3, Запись текста по абзацам</a><br>
        <a href="/laba_1/#p2.4">2.4, Выделение текста</a><br>
        <a href="/laba_1/#p2.5">2.5, Применение логических стилей для организации фрагментов текста</a><br>
        <a href="/laba_1/#p2.6">2.6, Выделение с помощью переформатированного текста (текст с фиксированной шириной знаков и пробелов)</a><br>
        <a href="/laba_1/#p2.7">2.7, Использование в тексте символов</a><br>
        <a href="/laba_1/#p3">3, Организация гипертекстовых ссылок</a><br>
    </div>
</div>
<div class="footer">
    &copy; Сусанин Станислав Ильич
</div>
{% endblock %}
